[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
black = "*"
ruff = "==0.4.2"

[requires]
python_version = "3.10"

[scripts]
test = "pytest ."
format = "black ."
autolint = "ruff check . --fix"
lint = "bash -c \"black . --check && ruff check .\""
